body{
    width: 600px;
    margin: 0 auto;
}

.emblem{
    background: url("/static/img/emblem.png");
    display: inline-block;
    width: 150px;
    height: 50px;
}

.auth_block{
    padding: 5px 30px;
}

input[type=submit]{
    transition: all .5s;
    border: 1px solid gray;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
    padding: 5px 30px;
}

input[type=submit]:hover{
    background: cornflowerblue;
}

input[type=text], input[type=password]{
    width: 100%;
}

label, input{
    font-size: 20px;
}