{% extends "base.html" %}


{% block content %}
    <div>
    <h2 style="text-align: center">Оформление каюты</h2>
    <table style="width: 800px; height: 500px; border-spacing: 0">
        <tr style="background: dimgray; color: white">
            <th height="25">Цвет стен</th>
            <th>Эмблема</th>
        </tr>
        <tr>
            <td style="background: {{ sex }}"></td>
            <td style="width: 400px"><img alt="" width="400px" src="{{ age }}"></td>
        </tr>
    </table>
    </div>
{% endblock %}